@font-face {
  font-family: "RockStar";
  src: url("../fonts/rockStar/RS-extralight.otf");
  font-weight: 250;
}

@font-face {
  font-family: "RockStar";
  src: url("../fonts/rockStar/RS-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "RockStar";
  src: url("../fonts/rockStar/RS-semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "RockStar";
  src: url("../fonts/rockStar/RS-extrabold.otf");
  font-weight: 800;
}