@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Winston";
  src: url("../fonts/winston/Winston-Black.ttf");
  font-weight: 900;
}
