@import './reset';
@import './variables.scss';
@import './fonts.scss';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: $fontBase;
  font-size: $fontNorm;
  font-style: $fontStyle;
  font-weight: $fontWeightRegular;
  line-height: $lineHeight;
}

a {
  color: $black;
}
