@import './reset';
@import './variables.scss';
@import './fonts.scss';

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  // font-family: Fahkwang;
  font-family: $fontBase;
  font-size: $fontNorm;
  font-style: $fontStyle;
  font-weight: $fontWeightRegular;
  line-height: $lineHeight;
}

a {
  color: $black;
}