// colors
$white: #fff;
$black: #140D0C;
$orange: #FE5900;
$pink: #F9F2F2;
$transparentGray: rgba(249, 242, 242, 0.32);
$transparentBlack: rgba(20, 13, 12, 0.30);

// fonts
$fontTitle: 36px;
$fontBig: 32px;
$fontNorm: 24px;

// functions
$duration: 300ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);